<form class="form" role="form" autocomplete="off"  th:object="${riderForm}" th:action="@{/admin/crearRider}" method="post">


		
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Email</label>
			<div class="col-lg-9">
				<input class="form-control" type="email" th:field="${riderForm.email}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Nombre Error</div>

			</div>
		</div>
		
				<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">DNI</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${riderForm.nif}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}">Nombre Error</div>

			</div>
		</div>
		
				<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Matricula</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${riderForm.matricula}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}">Nombre Error</div>

			</div>
		</div>
		
				<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Carnet</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${riderForm.carnet}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('carnet')}" th:errors="*{carnet}">Nombre Error</div>

			</div>
		</div>
		
				<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Tipo vehiculo</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${riderForm.tipoVehiculo}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('tipoVehiculo')}" th:errors="*{tipoVehiculo}">Nombre Error</div>

			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
			<div class="col-lg-9">
				<input class="form-control" type="password" th:field="${riderForm.pwd}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">Nombre Error</div>

			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Confirmar contraseña</label>
			<div class="col-lg-9">
				<input class="form-control" type="password" th:field="${riderForm.confirmarPwd}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('confirmarPwd')}" th:errors="*{confirmarPwd}">Nombre Error</div>

			</div>
		</div>
		

		<div class="form-group row">
			<div class="col-lg-12 text-center">
				<a class="btn btn-secondary"  th:href="@{'/riderForm'}">Cancelar</a>
				<input type="submit" class="btn btn-primary"
				value="Guardar cambios" >
			</div>
		</div>

		<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
		<div class="alert alert-success text-center d-none" id="formSuccess" th:text="${formSuccessMessage}" th:if="${editMode}" >Success MEssage</div>
			
	</form>