<div class="table-responsive">
  <table id="riderList" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">pwd</th>
        <th scope="col">nif</th>
        <th scope="col">direccion</th>
        <th scope="col">telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="rider: ${riderList}">
        <td th:text="${rider.email}"></td>
        <td th:text="${rider.nombre}"></td>
        <td th:text="${rider.apellido}"></td>
        <td th:text="${rider.pwd}"></td>
        <td th:text="${rider.nif}"></td>
        <td th:text="${rider.tipoVehiculo}"></td>
        <td th:text="${rider.matricula}"></td>
        <td th:text="${rider.carnet}"></td>
        <td>
			<a href="Nombre" th:href="@{'/rider/borrarRiderPorEmail/'+  ${rider.email}}"><i class="fas fa-user-times"></i></a>
		</td>
    <a href="Nombre" th:href="@{'/admin/crearRider'}" <i class="fa-regular fa-square-plus"></i>
      ></a>
        <!-- <td>
					<a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
			</td> -->
      </tr>
    </tbody>
  </table>
</div>
