<div class="table-responsive">
	<table id="clienteList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">pwd</th>
			<th scope="col">nif</th>
			<th scope="col">direccion</th>
            <th scope="col">telefono</th>
            
		</tr>
		</thead>
		<tbody>
		<tr th:each="cliente: ${clienteList}">
			<td th:text="${cliente.email}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.apellido}"></td>
			<td th:text="${cliente.pwd}"></td>
			<td th:text="${cliente.nif}"></td>
			<td th:text="${cliente.direccion}"></td>
			<td th:text="${cliente.telefono}"></td>
			<td>
				<a href="Nombre" th:href="@{'/borrarClientePorEmail/'+  ${cliente.email}}"><i class="fas fa-user-times"></i></a>
			</td>
			<!-- <td>
					<a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
			</td> -->
		</tr>
		</tbody>
	</table>
</div>