
<form class="form" role="form" autocomplete="off"  th:object="${restauranteForm}" th:action="${editMode} ?@{/editRestaurante} :@{/crearRestaurante}" method="post">
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.nombre}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('nombre') or editMode==true}" th:errors="*{nombre}">Nombre Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Razon</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.razon}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('razon')}" th:errors="*{razon}">Razon Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">CIF</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.cif}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}">CIF Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Direccion</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.direccion}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Direccion Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Telefono</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.tlf}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('tlf')}" th:errors="*{tlf}">Telefono Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Categoria</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.categoria}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Categoria Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Email</label>
			<div class="col-lg-9">
				<input class="form-control" type="text" th:field="${restauranteForm.email}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-12 text-center">
				<a class="btn btn-secondary"  th:href="@{'/restauranteForm'}">Cancelar</a>
				<input type="submit" class="btn btn-primary"
				value="Guardar cambios" th:value="${editMode}?'Guardar Restaurante':'Crear Restaurante'">
			</div>
		</div>

		<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
		<div class="alert alert-success text-center d-none" id="formSuccess" th:text="${formSuccessMessage}" th:if="${editMode}" >Success MEssage</div>
			
	</form>


	